SECRET_KEY=your-django-secret-key
DEBUG=True
DB_NAME=meal_tracker
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
GEMINI_API_KEY=your-gemini-api-key
EDAMAM_APP_ID=your-edamam-id
EDAMAM_APP_KEY=your-edamam-key
